:root {
    --primary-color: #0077b6;/*Blue*/
    --secondary-color: #344e41; /*Dark Green*/
    --accent1-color: #90e0ef; /*Light Blue*/
    --accent2-color: #eae2b7; /*Beige*/
    --header-font:"Libertinus Mono", sans-serif;
    --body-font: "Roboto Flex", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}



 main, footer {
    width: 840px;
    margin: 0 auto;
    min-width: 320px;
}

h1, h2 {
    font-family: var(--header-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
    position: 100px;
    top: 10000px;
}
title {
    text-decoration: none;
}

.socialmedia a img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    top: 100000px;
}

.hero {
    position: absolute;
    width: 100%;
    max-width: 100%;
    left: 0;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/*h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: white;
}*/

article {
    position: relative;
    font-style: var(--body-font);
    z-index: 1;
    bottom: 200px;
    background-color: var(--primary-color);
    opacity: 0.8;
    height: 150px;
}

.hero h1 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--header-font);
    z-index: 2;
}

.hero article img {
    float: right;
    width: 200px;
    margin-left: 12px;;
}


section {
position: relative;
    top: 900px;
}